.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 10px;
  text-decoration: none;
}

.buzzwire-link {
  text-decoration: none;
  color: black;
  flex-grow: 1; /* Allow the element to grow and take available space */
  flex-shrink: 1; /* Allow the element to shrink if needed */
  text-align: left; 
}


.date-element {
  flex-grow: 1; /* Allow the element to grow and take available space */
  flex-shrink: 1; /* Allow the element to shrink if needed */
  text-align: right; 
}